extends ../shared/template
block content
  h1 New Task Form

  .row
    .col-xs-6
      form(action='/tasks', method='post')
      .form-group
        label Task Name
        input.form-control(type='text', name='name', placeholder='Enter Task Name')
      .form-group
        label Due Date
        input.form-control(type='date', name='due')
      .form-group
        label Priority of Task
        select.form-control(name='priority')
          each priority in priorities
              option(value=priority.value)=priority.name
      .form-group
        label Category of Task
        select.form-control(name='category')
          each cat in categories
              option= cat.name
      .form-group
        button.btn.btn-primary(type='submit') Add
    .col-xs-6
